*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
    position: relative;
    height: 100%;
    min-height: 50vw;
    background: white;
}
.panel-requests{
    margin: 30px;
    width: 20%;
    height: 700px;
    list-style: None;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.users{
    height: 100px;
    background-color: #c5c5c5;
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
}
.users p{
    width: 30%;
}
.acp-btn{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 100%;
    border-color: green;
}
.rej-btn{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 100%;
    border-color: red;
}
.info{
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 35%;
    height: 700px;
    width: 35%;
    background-color: white;
    border: 3px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.acp-btn2{
    width: 200px;
    height: 50px;
    font-size: 2rem;
    background-color: green;
    color: white;
    border-color: green;
}
.rej-btn2{
    width: 200px;
    height: 50px;
    font-size: 2rem;
    background-color: red;
    color: white;
    border-color: red;
}